{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Инструкция
{% endblock %}

{% block content %}


<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        
    </h3>
    <p>
        Три участника получают роль <strong>Продавец</strong>. Остальные статус <strong>Покупатель</strong>.
    </p>
    <p>
        Каждому будет известна его ценность каждой единицы товара и количество товара. Для Продавца это та минимальная цена из диапазона (25, 35), по которой он готов продать товар. Ценность покупателя определяется случайным образом из интервала (20, 60).
    </p>
    <p>
        Покупатели подают заявки на одну единицу продукции. Продавцы могут указать желаемое количество единиц товара для продажи. Если заявки пересекаются (какой-то покупатель готов купить дороже чем Продавец продать), то между ними заключается сделка по цене первой (из этих двух) заявки. После чего торги продолжаются, пока не закончится время.
    </p>
    <p>
        Товары продаются на трех различных аукционах. На каждом аукционе продавцом выступает одна из компаний, а покупателями — все зарегистрированные покупатели.
    </p>
    <p>
        Компании могут заключать соглашения о партнерстве, которые приносят доход, зависящий от объемов продаж обеих компаний в момент действия соглашения (2*(w_i+w_j)). Соглашение заключается и расторгается посредством ответа на вопрос<strong>Расторгнуть контракт?</strong>
    </p>


<div class="alert alert-secondary" role="alert">
    <p>
        <strong>Модификация 1</strong>
    </p>
    <p>
        Повтояется 2 раза, одна из компаний подвергается бойкоту, об этом узнает соответствующий продавец и все участники. Покупка товаров компании, которую отменили, влечет штраф B (может быть 0, 5 или 10) от прибыли покупателя. 
    </p>
    </div>
<div class="alert alert-secondary" role="alert">
    <p>
        <strong>Модификация 2</strong>
    </p>
    <p>
        <strong>Раунд 1:</strong> Аналогичен модификации 1.
    </p>
    <p>
        <strong>Раунд 2:</strong> Компании, которые имели партнерское соглашение с "плохой" компанией в момент своей финальной сделки раунда 1, также становятся "плохими". Все участники узнают о плохой компании из раунда 1.
    </p>
    <p>
        <strong>Раунд 3:</strong> Повторение раунда 1, где "плохая" компания и ее штрафы определяются заново.
    </p>
</div>


При заключении сделки прибыль для единицы продукции определяется по формулам: 
<div class="alert alert-secondary" role="alert">
<strong>Выигрыш Продавца = Цена покупки - Ценность товара для него + Доход от сделки</strong>,
</div>
<div class="alert alert-secondary" role="alert">
<strong>Выигрыш Покупателя = Ценность товара для него - Цена продажи - Штраф при покупке "плохой компании"</strong>.

 </div>
       
Прибыль от разных единиц суммируется.
    </p>
</div>
</div>

    {% next_button %}

{% endblock %}
