{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Инструкция
{% endblock %}

{% block content %}


<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        
    </h3>
    <p>
        Вы случайно распределяетесь по ролям: <strong>Продавец</strong> или <strong>Покупатель</strong>.
    </p>
    <p>
        Каждому будет известна его ценность товара и количество товара. Для Продавца это та минимальная цена, по которой он готов продать товар, и то количество товара которое он готов продать. Для Покупателя это та максимальная цена, по которой он готов купить товар и то количество товара которое он готов купить.
    </p>
    <p> 
        Игроки подают заявки на одну единицу продукции: Продавцы на продажу, Покупатели на покупку. Если заявки пересекаются (какой-то покупатель готов купить дороже чем Продавец продать), то между ними заключается сделка по цене первой (из этих двух) заявки. После чего торги продолжаются, пока не закончится время.

    </p>
    <p>

При заключении сделки прибыль для единицы продукции определяется по формулам: 
<div class="alert alert-secondary" role="alert">
<strong>Выигрыш Продавца = Цена покупки - Ценность товара для него</strong>, 
</div>
<div class="alert alert-secondary" role="alert">
<strong>Выигрыш Покупателя = Ценность товара для него - Цена продажи</strong>. 

 </div>
       
Прибыль от разных единиц суммируется.
    </p>
</div>
</div>

    {% next_button %}

{% endblock %}
